:root {
    --semi-grey: #1d1d1d;
    --dark-grey: #0e0e0e;
    --light-grey: #303030;
    --dark: #000000;
    --light: #b0b0b0;
    --lightest: #d0d0d0;
    --highlight: #4096f3;
}

html, body, #root, #root>div {
    height: 100%;
}

body {
    background-color: transparent;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: var(--light);
    font-size: 1rem;
}

button, input, label, select {
    margin-right: 3px;
}

button, input, select, svg {
    cursor: pointer;
}

button, input, select, option, label {
    border-radius: 3px;
    border: solid 1.5px var(--light-grey);
    background-color: var(--dark-grey);
    padding: 1.5px 3px;
    text-transform: uppercase;
    color: var(--light);
}

svg {
    height: calc(1rem - 1px);
    width: auto;
    margin-right: 4.5px;
    fill: var(--light);
    transform: translateY(2px);
    &:hover, &:focus {
        fill: var(--lightest);
    }
}

button, input, select, option {
    &:hover, &:focus {
        background-color: var(--dark);
        color: var(--lightest);
    }
    &:focus {
        outline: solid 1.5px var(--highlight);
    }
}

hr {
    border: 1px solid var(--dark);
}

label {
    font-size: calc(1rem - 2.5px);
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    padding-right: 6px;
    margin-right: -3px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#loader {
    position: fixed;
    z-index: 10000;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    opacity: 0.9;
    h1, p {
        animation-name: loadingOpacity;
        animation-duration: 0.75s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    p {
        animation-delay: 0.5s;
    }
}

@keyframes loadingOpacity {
    from {opacity: 0.5;}
    to {opacity: 1;}
  }

#toolbar {
    width: 100%;
    flex: 0;
    margin-top: -3px;
    margin-bottom: 6px;
    display: flex;
    menu {
        margin: 0;
        padding: 0;
        display: block;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        &#main {   
            flex-grow: 1;
        }
    }
}

#information {
    width: 100%;
    flex: 0;
    p {
        &:has(small) {
            margin-top: 0;
        }
    }
}

#timeline {
    width: 100%;
    height: 100%;
    flex: 1;
    display: block;
    position: relative;
    min-width: 100%;
    min-height: 50px;
    border-radius: 3px;
    border: solid 3px var(--light-grey);
    background-color: transparent;
    overflow-x: auto;
    .grid-timeline, .grid-bar, .grid-layers {
        column-gap: 3px;
        min-width: 100%;
    }
    .grid-bar, .grid-beat {
        height: 100%;
    }
    .grid-timeline {
        position: sticky;
        top: 0;
        left: 0;
        z-index: -10;
        height: 100%;
        display: grid;
        grid-template: 100% / repeat(3, 1fr);
        background-color: var(--light-grey); /* Color of bar vertical lines */
        .grid-bar {
            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            background-color: var(--semi-grey); /* Color of beat vertical lines */
            .grid-beat {
                background-color: var(--dark-grey);
            }
        }
    }
    .grid-layers {
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(12, 1fr);
        background-color: transparent;
        height: 0;
        .timeline-layer {
            background-color: darkorchid;
            border-radius: 3px;
            padding: 3px;
            margin-top: 6px;
            margin-bottom: 6px;
            grid-column-start: 3;
            grid-column-end: 6;
            font-size: 0.9rem;
            white-space: nowrap;
            cursor: ew-resize;
            -webkit-touch-callout: none !important;
            -webkit-user-select: none !important;
            -webkit-user-drag: none !important;
            -khtml-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
            span {
                color: #ffffff;
                mix-blend-mode: difference;
            }
            &.ghost {
                background-color: transparent;
                outline-style: solid;
                outline-width: 3px;
                outline-offset: 2px;
            }
        }
    }
}